.home-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home-page h1 {
    font-size: 10rem;
    margin-bottom: 10px;
  }
  
  .home-page .slogan {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 20px;
  }
  

  @keyframes floatHeart {
    0%, 100% {
      transform: translate(-50%, -50%) translateY(0px);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-70px);
    }
  }  

  .chromeheart {
    width: 680px;
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: floatHeart 6s ease-in-out infinite;
  }
