.my-closet-page {
  text-align: center;
}

.closet-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.clothing-item-card {
  border: 2px solid #000;
  border-radius: 15px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  flex: 1 0 250px;
  max-width: calc(50% - 20px);
  margin-bottom: 20px;
}

.clothing-item-card:last-child {
  margin-bottom: 0;
}


.clothing-item-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.clothing-item-details {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.clothing-item-details input {
  font-weight: normal;
  text-align: right;
  width: 100%;
}

.clothing-item-action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.clothing-item-action-button {
  border: none;
  background-color: #f1f1f1;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clothing-item-action-button:hover {
  background-color: #dbdbdb;
}

h2 {
  font-size: 70px;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
